$blue: rgba(79, 192, 210, 1);
$green: rgba(82, 210, 154, 1);
$yellow: rgba(231, 196, 104, 0.3);
$orange: rgba(235, 118, 85, 1);
$dark-bg: rgba(0, 0, 0, 0.9);
$light-bg: rgba(255, 255, 255, 0.1);
$text: rgba(255, 255, 255, 0.9);
