/* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* colors */
$blue: rgba(79, 192, 210, 1);
$green: rgba(82, 210, 154, 1);
$yellow: rgba(231, 196, 104, 0.3);
$orange: rgba(235, 118, 85, 1);
$dark-bg: rgba(0, 0, 0, 0.9);
$light-bg: rgba(255, 255, 255, 0.1);
$text: rgba(255, 255, 255, 0.9);
body {
  background-color: $dark-bg;
  font-family: "Open Sans", sans-serif;
  color: $text;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%center-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.header {
  @extend %center-box;
  margin: 4rem;
}
.footer {
  @extend %center-box;
  margin: 2rem;
}
