@import "../../styles/variable";

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* for custom scrollbar for webkit browser */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px lighten(rgba(0, 0, 0, 0.5), 100);
  border-radius: 100px;
}
.table {
  width: 100%;
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  overflow: scroll;

  .table-row {
    background-color: darken($color: $light-bg, $amount: 40);

    transition: all 0.2s ease-out;
    &:hover {
      background-color: darken($color: $dark-bg, $amount: 10);
    }

    &:nth-of-type(even) {
      background: rgba($color: $yellow, $alpha: 0.1);
      &:hover {
        background-color: lighten($color: $dark-bg, $amount: 10);
      }
    }
  }
  .table-head {
    background-color: $light-bg;
    text-align: left;
    border-bottom: 3px solid $blue;
  }
  .table-body {
    overflow: scroll;
  }
  td,
  th {
    text-align: right;
    padding: 1rem 0.4rem;
  }

  td {
    border-top: 1px solid darken($color: $light-bg, $amount: 100%);
    &:first-of-type {
      text-align: left;
    }
  }
  .first-column {
    border-right: 3px solid rgba($color: $blue, $alpha: 0.5);
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    h3 {
      margin: 0rem 0.1rem;
      font-weight: bold;
      align-self: baseline;
    }
    span {
      font-size: smaller;
      align-self: flex-end;
    }
  }

  .high-style {
    color: $green;
  }
  .low-style {
    color: $orange;
  }
}
